#landing-page-section{
    position: relative;
    background: linear-gradient(
        rgba(0, 0, 0, 0.3), 
        rgba(0, 0, 0, .7)
      ), url("../images/landingpageimage.jpg");
    background-size: cover;
    width: 100%;
    height: 95vh;
    padding: 0 0 10em 0;
}

#landing-page-section-container{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    margin: 0;
    padding: 0 2.5em;
    text-align: center;
    opacity: 0;
    transition: opacity 2.4s;
}

.fadein-container{
    opacity: 1 !important;
}

#landing-page-section h2{
    font-size: 3.8em;
    margin: 0;
    text-shadow: -.07em .04em .05em rgb(6, 6, 30);
}

#landing-page-section p{
    font-size: 1em;
    margin: 0 auto;
    padding: 0;
    width: 32em;
    text-shadow: -.07em .04em .05em rgb(6, 6, 30);
}

#view-more{
    display: block;
    font-size: 1em;
    margin: 1.5em auto;
    padding: .5em 0;
    border: 1px solid white;
    width: 8em;
    color: white;
    opacity: 0;
    transition: .2s;
}

.fadein-viewmore{
    opacity: 1 !important;
}

#landing-page-section a:hover{
    border: 1px solid black;
    color: white;
    background-color: black;
}

@media screen and (max-width: 1300px){
    #landing-page-section{
        height: 75vh;
    }

    #landing-page-section h2 {
        font-size: 2.8em;
    }

    #landing-page-section p {
        max-width: 30em;
        width: auto;
    }
}