main{
    background-color: #f4f4f4;
}

main > section{
    margin: 0;
    padding: 5em 0 0 0;
}

.project-type-title{
    text-align: center;
    font-size: 3em;
}

.project{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 46em;
    height: 18.5em;
    margin: 1.5em auto;
    padding: 0;
    background-color: white !important;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 .8em 1em rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project:hover{
    transform: translateY(-1em);
    box-shadow: 0 .8em 1.6em rgba(0, 0, 0, 0.2);
}

.project > section{
    padding: 2.22em 2.66em;
}

.close-project{
    display: none;
}

.author-container{
    display: flex;
    position: relative;
    margin: .5em 0 1.5em 0;
    padding: 0;
    font-size: .7em;
}

.author-icon{
    display: block;
    width: 2em;
    align-self: center;
    height: 2em;
    border-radius: 100%;
    background-image: url("../images/face-shot.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.author-info{
    margin: 0 0 0 .5em;
    padding: 0;
}

.date-separator{
    display: inline-block;
    align-self: center;
    width: .25em;
    height: .25em;
    border-radius: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-65%);
    background-color: grey;
}

.author-options{
    margin: 0 0 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    cursor: pointer;
}

.author-options-dot{
    border-radius: 100%;
    width: .45em;
    height: .45em;
    background-color: black;
    margin: .06em 0;
}

.project-options{
    display: none;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 2em;
    right: 0;
    border: 1px solid black;
    width: 10em;
    background-color: white;
}

.show-project-options{
    display: flex !important;
}

.project-options a{
    text-align: center;
    padding: .5em 0;
    font-size: 1em;
    color: black;
}

.project-options a:nth-child(1){
    border-bottom: .05em solid lightgrey;
}

.project-options a:hover{
    background-color: lightgray;
}

.author-container p{
    margin: 0;
    padding: 0;
}

.author-container p:nth-child(2){
    color: grey;
}

.project img{
    display: block;
    width: 22.65em;
    margin: auto;
    padding: 0;
    max-height: 100%;
}

.project-info{
    min-width: 60%;
    height: 11em;
    margin: 0;
    padding: 0;
    overflow: auto;
    border-bottom: .05em solid lightgrey;
}

.project-info h3{
    font-size: 1.5em;
    color: #303131;
    margin: 0;
    padding: 0;
}

.project-info ul{
    margin: -.5em 0 0 0;
    padding: 0 0 0 1em;
}

.project-info > p{
    font-size: .85em;
}

.project-info strong{
    font-size: 1.1em;
    font-weight: bold;
}

@keyframes showproject{
    from{
        transform: translateX(-150%);
    };

    to{
        transform: translateX(0);
    };
}

@-webkit-keyframes showproject{
    from{
        transform: translateX(-150%);
    };

    to{
        transform: translateX(0);
    };
}

.slide-project{
    transition: transform;
    transition-duration: .6s;
    transition-timing-function: ease-in;
    transform: translateX(0);
}

.unslide-project{
    animation-name: hide-project;
    animation-duration: .6s;
    animation-timing-function: ease-out;
    -webkit-animation-name: hide-project;
    -webkit-animation-duration: .6s;
    -webkit-animation-timing-function: linear;
    transform: translateX(-150%);
}

.display-project-btn{
    display: none;
}

@media screen and (max-width: 1100px){
    main > section {
        height: auto;
    }

    .project-type-title{
        margin-bottom: 2em;
    }

    .project{
        flex-direction: column;
        width: 90%;
        max-width: 46em;
        height: auto;
        margin: 0 auto;
        padding: 0;
        border-top: none;
        border-left: none;
        border-right: none;
    }

    .project > section{
        padding: 2.22em 1em;
    }

    .project:nth-child(2n){
        flex-direction: column !important;
    }

    .project img{
        width: 100% !important;
        margin: 0;
        padding: 0;
        min-height: unset;
        max-height: unset;
    }

    .project-info{
        min-width: 100% !important;
        max-height: 60%;
        margin: 0;
        padding: 0;
        overflow: auto;
    }

    .project-info h3{
        text-align: center;
    }
}