*{
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

html{
    padding: 0;
    margin: 0;
    font-size: 16px;
}

body{
    position: relative;
    top: 0;
    left: 0;
    font-size: 18px;
    min-height: 90vh;
    width: 100%;
    margin: 0;
    padding: 0 0 4.1em 0;
    border: none;
}

main{
    margin: 4em 0 0 0;
    padding: 0;
    width: 100%;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3em;
    padding: 0;
    margin: 0;
}

/* Main and footer style for desktop ends here */


/*Nav bar for desktop starts here */

#nav-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 1em 0 0 0;
    width: 100%;
    height: 4em;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: white;
}

/* header animation togglers */
.show-header{
    animation-name: show;
    animation-duration: .2s;
    animation-timing-function: ease-in;
    transform: translateY(0);
}

.hide-header{
    animation-name: hide;
    animation-duration: .6s !important;
    animation-timing-function: ease-out;
    transform: translateY(-100%);
}

/* Animation for header */
@keyframes show{
    from{
        transform: translateY(-100%);
    };

    to{
        transform: translateY(0);
    };
}

@keyframes hide{
    from{
        transform: translateY(0);
    };

    to{
        transform: translateY(-100%);
    };
}

#nav-header h1{
    font-weight: bolder;
    font-size: 1.5em;
    margin: 0 0 0 2.5em;
}

#nav-header h1 a{
    color: black;
    cursor: pointer;
}

#nav-bar-container{
    height: 3em;
    min-width: 50%;
    margin-left: auto;
    margin-right: 2.5em;
}

#nav-links{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 3em;
    margin: 0;
    padding: 0;
    background-color: white;
}

#nav-links a{
    width: auto;
    height: 1.3em;
    text-align: center;
    color: #333;
    font-weight: 500;
    transition: color 0.3s ease, border-bottom 0.3s ease;
    padding-bottom: 4px;
}

#nav-links a:hover{
  border-bottom: 2px solid #333;
}

.project-link{
    width: auto !important;
    height: auto !important;
    border: .15em solid black;
    border-radius: .4em;
    padding: .6em 1em !important;
}

.project-link:hover{
    background-color: black;
    color: white !important;
}

#nav-burger{
    display: none;
}

/*Nav bar for desktop ends here */

.contact-icons{
    display: flex;
    width: 8em;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0 auto;
}

.contact-icons a{
    margin: 0;
    padding: 0;
}

.contact-icons a *{
    font-size: 1.5em;
}

.contact-icons a:nth-child(1){
    color: black !important;
}

.contact-icons a:nth-child(2){
    color: #2867B2 !important;
}

.contact-icons a:nth-child(2) *{
    height: .8em;
    padding: -.5em 0 .1em 0;
}

.contact-icons a:nth-child(3){
    color: rgb(26, 175, 138) !important;
}

button{
    outline: none;
    cursor: pointer;
}

input{
    outline: none;
}

a{
    text-decoration: none;
}

@media screen and (max-width: 770px){
    #nav-links{
        width: 100vw !important;
    }
}

@media screen and (max-width: 1400px){
    body{
        font-size: 16px;
    }

    /*Mobile nav bar*/

    #nav-header{
        padding: 0;
    }

    #nav-header h1{
        line-height: 1em;
        font-size: 1.35em;
        margin: 0;
        padding: 0;
    }

    #nav-burger{
        display: block;
        position: absolute;
        right: .6em;
        z-index: 3;
    }

    .hide-menu-burger{
        display: none !important;
    }

    #close-burger-menu{
        display: none;
        position: relative;
        top: .5em;
        right: .5em;
        z-index: 3;
        font-size: 2em;
        padding: 0;
    }

    .show-close-menu{
        display: block !important;
    }

    #nav-burger div{
        background-color: white;
        margin: .2em 0;
        width: 1.5em;
        height: .2em;
    }
    
    header{
        justify-content: space-between;
        height: 3.5em;
    }

    header > h1{
        margin: auto 0;
    }

    header > h1 > a{
        margin-left: 2em;
    }

    #nav-bar-container{
        position: fixed;
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
    }

    .show-container{
        display: block !important;
    }

    #nav-bar-container > div {
        display: none;
        width: 100%;
        height: 100vh;
        position: relative;
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
        background-color: transparent;
    }

    #nav-links{
        display: none;
        position: absolute;
        flex-direction: column;
        z-index: 2;
        top: 0;
        right: 0;
        height: 100vh;
        min-height: 100vh;
        width: 100%;
        margin: 0;
        padding: 4em 0;
        flex-direction: column;        
    }

    .display-links{
        display: flex !important;
        justify-content: space-between;
        backdrop-filter: blur(1em);
        -webkit-backdrop-filter: blur(1em);
        animation-name: navlinks !important;
        animation-duration: 1.2s !important;
    }

    .fade{
        display: flex !important;
        backdrop-filter: blur(1em);
        -webkit-backdrop-filter: blur(1em);
    }

    @keyframes navlinks{
        from{
            transform: translateX(100%);
        }
        
        to{
            transform: translateX(0);
        }
    }
    /*Mobile nav bar ends here */
}